<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poonia.tictactoeapp">

    <uses-permission android:name= "android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tic"
        android:label="Tic Tac Toe"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.poonia.tictactoeapp.CodeActivity"></activity>
        <activity android:name="com.poonia.tictactoeapp.ThirdPage" />
        <activity android:name="com.poonia.tictactoeapp.SecondPage" />
        <activity android:name="com.poonia.tictactoeapp.MainActivity" />
        <activity android:name="com.poonia.tictactoeapp.StartAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.poonia.tictactoeapp.Firstpage">
        </activity>
    </application>

</manifest>